header {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.avatar {
    margin:  auto;
}

.avatar img {
    width: 138px;
    height: 138px;
    border-radius: 50%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 800px) {
    header {
       flex-direction: row;
       justify-content: space-between;
       gap: 10rem;
       padding: 2rem 2rem;
    }
    .avatar img {
       width: 238px;
       height: 238px;
    }
}